#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.calculator {
  height: 450px;
  width: 300px;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.display {
  margin-bottom: 10px;
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.input, .result {
  font-size: 18px;
  margin-bottom: 5px;
}

.button {
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  grid-column: span 1;
}

.button:hover {
  cursor: pointer;
}

.button-grid {
  grid-column: span 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.button:nth-last-child(-n+2){
  grid-column: span 2;
}